{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<form method = "POST">
    <!-- <h3 align = "center">Sign up</h3> -->
    <a href="#" style="display: flex; justify-content: center; align-items: center;">
        <img src="./static/logo1.png" alt="AIstyle Logo">
    </a>

    <div class = "form-group">
        <label for = "email">Email</label>
        <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Enter email...">
    </div>

    <div class = "form-group">
        <label for = "user_name">User name</label>
        <input type = "text" class = "form-control" id = "user_name" name = "user_name" placeholder = "Enter user name...">
    </div>

    <div class = "form-group">
        <label for = "password">Password</label>
        <input type = "password" class = "form-control" id = "password" name = "password" placeholder = "Enter password...">
    </div>

    <div class = "form-group">
        <label for = "password">Confirm Password</label>
        <input type = "password" class = "form-control" id = "confirm_password" name = "confirm_password" placeholder = "Enter confirm password...">
    </div>
    <button type = "submit" class = "btn btn-primary">Submit</button>
</form>
{% endblock %}